<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 1440" width="62" height="1440">
	<title>Fill 1</title>
	<g id="Comps">
		<g id="PDP-(The-Chameleon)--—-Desktop">
			<path id="Fill-1" fill-rule="evenodd" class="s0" d="m2.2 1440l-2.2-105 2-87 1.6-127.3-1.4-144.8 1.4-43.4-2.4-53 4.7-148.8-2.1-174.6c0 0 6.4-150.7 5.3-158.8-1.1-8.2-2.5-131.6-2.5-131.6l0.5-134.4-0.9-83.8-1.6-47.5h57.4v1440z"/>
		</g>
	</g>
</svg>