{%- assign string_type_indicator = block.settings.type_indicator | default: "" -%}

<div class="cart-form__additional-fees" x-data="{
  hasAdditionalFee: false,
  additionalFee: 0,

  init() {
    let refresh = false

    this.$watch('$store.cart.cartData.items', items => {
      if ((typeof items == 'object') && items.length > 0) {
        if (items.some(item => item.product_type == '{{- string_type_indicator -}}')) {
          this.hasAdditionalFee = true
        }

        const additionalFeeLineItem = items.filter(item => item.product_type == '{{- string_type_indicator -}}')
        this.additionalFee = additionalFeeLineItem?.[0]?.price || 0

        setTimeout(() => {
          if (!refresh) {
            refresh = true
            $store.cart.getCartData()
          }
        }, 1500)
      }
    })
  }
}">
  <template x-if="hasAdditionalFee && additionalFee > 0">
    <div class="inner">
      <p>{{ block.settings.title | default: "Surcharge of" }} <span x-text="$store.cart.formatMoney(additionalFee)"></span></p>
    </div>
  </template>
</div>