<div class="footer__logo" data-inview>
    {% render 'component__responsive-image',
        mobile_image: block.settings.logo_mobile,
        desktop_image: block.settings.logo_desktop,
        max_width: 480,
        width: "420, 480",
        loading: true %}
</div>