<?xml version="1.0" encoding="UTF-8"?>
<svg width="34px" height="39px" viewBox="0 0 34 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 5</title>
    <g id="Comps" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-(Herd-Mentality)--—-Desktop" transform="translate(-1346, -54)">
            <g id="nav/desktop" transform="translate(-1, 0)">
                <g id="Group-13" transform="translate(41, 42)">
                    <g id="Group-5" transform="translate(1307, 13)">
                        <path d="M20.9354382,9.86504149 L11.0987826,9.86504149 L11.0987826,5.529602 C11.0987826,5.23630052 11.9567314,3.80183447 12.2170916,3.50606828 C14.0768072,1.39873413 18.5773189,1.55401139 20.1617966,3.90042321 C20.2956961,4.09760067 20.9354382,5.41622496 20.9354382,5.529602 L20.9354382,9.86504149 Z M28.6743347,12.2262416 C28.5379556,11.5656971 28.0370722,9.86504149 27.1518475,9.86504149 L22.9761661,9.86504149 L22.9761661,5.71445587 C22.9761661,5.2067239 22.3636998,3.7919756 22.081023,3.28670835 C19.6187596,-1.08323719 12.430339,-1.10788438 9.95567743,3.28670835 C9.67052104,3.7919756 9.05805471,5.2067239 9.05805471,5.71445587 L9.05805471,9.86504149 L4.69640176,9.86504149 C3.90044349,9.86504149 3.31029374,11.1762716 3.16647574,11.8491397 C1.67126441,18.8760516 1.46545588,26.6620967 0,33.7580207 C0.228125112,35.6312066 1.31171939,36.6663883 3.20367005,36.8044125 C11.5847883,37.4255215 20.7321093,36.3262571 29.1950551,36.7970183 C30.7101034,36.6368116 32.0292616,35.3255815 31.9995062,33.7851326 C30.6456332,26.7237147 30.1298721,19.2383652 28.6743347,12.2262416 L28.6743347,12.2262416 Z" id="Fill-1" fill="#FFFFFF"></path>
                        <path d="M20.9354382,9.86504149 L11.0987826,9.86504149 L11.0987826,5.529602 C11.0987826,5.23630052 11.9567314,3.80183447 12.2170916,3.50606828 C14.0768072,1.39873413 18.5773189,1.55401139 20.1617966,3.90042321 C20.2956961,4.09760067 20.9354382,5.41622496 20.9354382,5.529602 L20.9354382,9.86504149 Z M28.6743347,12.2262416 C28.5379556,11.5656971 28.0370722,9.86504149 27.1518475,9.86504149 L22.9761661,9.86504149 L22.9761661,5.71445587 C22.9761661,5.2067239 22.3636998,3.7919756 22.081023,3.28670835 C19.6187596,-1.08323719 12.430339,-1.10788438 9.95567743,3.28670835 C9.67052104,3.7919756 9.05805471,5.2067239 9.05805471,5.71445587 L9.05805471,9.86504149 L4.69640176,9.86504149 C3.90044349,9.86504149 3.31029374,11.1762716 3.16647574,11.8491397 C1.67126441,18.8760516 1.46545588,26.6620967 0,33.7580207 C0.228125112,35.6312066 1.31171939,36.6663883 3.20367005,36.8044125 C11.5847883,37.4255215 20.7321093,36.3262571 29.1950551,36.7970183 C30.7101034,36.6368116 32.0292616,35.3255815 31.9995062,33.7851326 C30.6456332,26.7237147 30.1298721,19.2383652 28.6743347,12.2262416 Z" id="Stroke-3" stroke="#FFFFFF" stroke-width="0.5"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>