<svg width="225px" height="225px" viewBox="0 0 225 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Group 5 Copy</title>
  <g id="Assets-+-Web-Style-Guide" stroke="none" stroke-width="1" fill="#000" fill-rule="evenodd">
      <g id="Group-5-Copy">
          <circle id="Oval" fill="#FFFFFF" cx="112.5" cy="112.5" r="112.5"></circle>
          <g id="Group-15-Copy" transform="translate(88, 59)" fill="#141723">
              <path d="M0,1.92491017 L5.10702591e-15,104.032326 C-2.67377705e-15,104.584611 0.44771525,105.032326 1,105.032326 C1.21189103,105.032326 1.41830542,104.96502 1.58946907,104.840117 L72.8720048,52.8231316 C73.3181354,52.4975769 73.4158815,51.8720022 73.0903267,51.4258716 C73.0257614,51.3373933 72.9470987,51.2601234 72.8574812,51.197149 L1.57494552,1.10671847 C1.12307072,0.78918483 0.499341944,0.898089855 0.181808303,1.34996465 C0.0634900871,1.51834057 8.62976375e-16,1.71911986 8.8817842e-16,1.92491017 Z" id="Path-4"></path>
          </g>
      </g>
  </g>
</svg>