<svg width="225px" height="225px" viewBox="0 0 225 224" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Group 5</title>
  <g id="Assets-+-Web-Style-Guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Group-5">
          <circle id="Oval" fill="#FFFFFF" cx="112" cy="112" r="112"></circle>
          <g id="Group-4" transform="translate(86, 77)" stroke="#141723" stroke-linecap="round" stroke-width="10">
              <line x1="1.56974356" y1="-6.21683156e-16" x2="1.56974356" y2="72" id="Line-2"></line>
              <line x1="52.4302564" y1="-6.21683156e-16" x2="52.4302564" y2="72" id="Line-2"></line>
          </g>
      </g>
  </g>
</svg>