{%- if block.settings.product_faqs != blank -%}
  {% for faq in block.settings.product_faqs %}
    <div class="accordion__wrapper">
      {%- capture accordion_content -%}
        {{- faq.answer | metafield_tag -}}
      {%- endcapture -%}
      {% render 'mfr-component__accordion',
        block_id: block.id,
        trigger_label: faq.question,
        content: accordion_content,
        initially_open: forloop.first %}
    </div>
  {% endfor %}
{%- else -%}
  {%- if request.design_mode -%}
    {%- for i in (1..3) -%}
      <div class="accordion__wrapper">
        {% render 'mfr-component__accordion',
          block_id: i,
          initially_open: true,
          trigger_label: "Lorem ipsum dolor sit?",
          content: "<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime assumenda itaque commodi repellat veniam ex voluptate nemo necessitatibus mollitia molestias!</p>" %}
      </div>
    {%- endfor -%}
  {%- endif -%}
{%- endif -%}
{%- schema -%}
  {
    "name": "Product FAQs",
    "class": "product-faqs accordions",
    "settings": [
      {
        "type": "metaobject_list",
        "id": "product_faqs",
        "label": "Product FAQs",
        "metaobject_type": "product_faqs",
      }
    ],
    "presets": [
      {
        "name": "Product FAQs"
      }
    ]
  }
{%- endschema -%}