@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.mfr-core__scrolling-bar {
  .scrolling-bar {
    width: 100%;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;
      padding: 0 var(--spacing-mobile);

      @include breakpoint( large up ) {
        padding: 0 var(--spacing-desktop);
      }
    }

    &__icon-text-item {
      gap: rem-calc( 5px );

      img {
        width: var(--width-mobile);
        height: var(--height-mobile);
        object-fit: contain;

        @include breakpoint( large up ) {
          width: var(--width-desktop);
          height: var(--height-desktop);
        }
      }

      &.preview {
        img {
          width: rem-calc( 30px );
          height: rem-calc( 30px );
        }
      }

      p {
        font-family: $custom-font-name-3;
        font-size: rem-calc(28px) !important;
        line-height: rem-calc(28px) !important;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}