@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.mfr-product__reviews {
  .section-content {
    margin-bottom: rem-calc(30px);

    @include breakpoint(large up) {
      margin-bottom: rem-calc(20px);
    }

    .inner {
      width: 100%;
    }

    .section-title {
      margin-bottom: rem-calc(15px);

      @include breakpoint(large up) {
        margin-bottom: rem-calc(25px);
      }
    }
  }

  .shopify-block {
    width: 100%;
    margin: auto;

    @include breakpoint(large up) {
      min-height: rem-calc(500px);
    }
  }
}