@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";
@import "../apps";

.offcanvas-contact {
  width: 100%;
  max-width: rem-calc(393px);

  @include breakpoint(large up) {
    max-width: calc(393px);
  }

  &__content {
    position: relative;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: rem-calc(15px);
    width: 100%;
    padding: rem-calc(30px) rem-calc( 23px ) rem-calc( 8px ) rem-calc(20px);

    &-inner {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: rem-calc(15px);
      }
    }

    .close-button {
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      inset: unset;
      @include transition($global-transition);

      @include hover {
        @include transform(scale(1.05));
      }
    }
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: rem-calc( 8px ) rem-calc( 20px ) rem-calc( 30px );
  }

  &__title {
    margin: 0;

    .section-title {
      font-size: rem-calc( 60px );
      line-height: 1em;
      letter-spacing: rem-calc( -0.41px );
      font-weight: 500;
      margin: 0;
    }
  }

  &__desc {
    * {
      @include regular;
      line-height: 1.25em;
      font-weight: 500;
      letter-spacing: rem-calc(-0.07px);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;

    .form-email,
    .form-field,
    .form-dropdown,
    .form-button {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      &:not(:last-child) {
        margin-bottom: rem-calc(15px);
      }

      label {
        font-family: $custom-font-name-2;
        font-size: rem-calc( 17px );
        line-height: 1.235em;
        font-weight: 700;
        text-transform: none;
        margin-bottom: rem-calc( 10px );
      }

      input,
      select,
      textarea {
        font-family: $custom-font-name-2;
        font-size: rem-calc( 20px );
        line-height: 1.75em;
        font-weight: 500;
        border: none;
        padding: rem-calc( 12px ) rem-calc( 25px );
        min-height: rem-calc( 60px );
        @include box-shadow(-7px 7px 0 0 rgba(0, 0, 0, 0.11));
        @include border-radius(rem-calc(22px));
      }
    }

    .form-inner {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      &:not(:last-child) {
        margin-bottom: rem-calc(15px);
      }

      &.two-column {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        flex-direction: row;
        gap: rem-calc(6px);

        @include breakpoint(large up) {
          gap: rem-calc(8px);
        }

        >.form-inner {
          width: calc((100% - #{ rem-calc( 6px ) }) / 2);

          @include breakpoint(large up) {
            width: calc((100% - #{ rem-calc( 8px ) }) / 2);
          }
        }
      }
    }

    .form-dropdown {
      .form__select {
        position: relative;

        select {
          &:not(:valid) {
            color: rgba(#000000, 0.50);
          }
        }

        svg {
          position: absolute;
          width: rem-calc(13px);
          height: auto;
          top: 50%;
          right: rem-calc(26px);
          @include transform(translateY(-50%));
        }
      }
    }

    .form-field {
      textarea {
        resize: none;
        min-height: rem-calc(140px);
      }
    }

    .button {
      font-weight: 700;
      text-transform: uppercase;
      min-height: rem-calc(65px);
      @include border-radius(rem-calc(15px));

      &:last-child {
        margin-top: rem-calc( 41px );
      }
    }
  }

  &__wrapper {
    background: var(--section-background);
    color: var(--section-text);
  }

  .nf-form {
    .nf-btn-primary {
      width: 100%;
      @include drop-shadow($black, 4);
    }
  }
}