@import "./variables";
@import "./tools/util/util";
@import "./tools/mixins";

/* variables
  - $header-height
  - $header-height-sticky
  - $header-font-family
  - $header-font-case
  - $header-font-weight
  - $header-font-size-mobile
  - $header-line-height-mobile
  - $header-letter-spacing-mobile
  - $header-font-size-desktop
  - $header-line-height-desktop
  - $header-letter-spacing-desktop
  - $header-bg-color
  - $header-text-color
  - $header-bg-color-sticky
  - $header-text-color-sticky
*/

$header-animation: 0.5s all $smooth_ease;
$header-offset-mobile: var(--header-offset-mobile);
$header-offset-mobile-top: var(--header-offset-mobile-top);
$header-offset-desktop: var(--header-offset-desktop);
$header-offset-desktop-top: var(--header-offset-desktop-top);
$header-offset-sticky-mobile: var(--header-offset-sticky-mobile);
$header-offset-sticky-mobile-top: var(--header-offset-sticky-mobile-top);
$header-offset-sticky-desktop: var(--header-offset-sticky-desktop);
$header-offset-sticky-desktop-top: var(--header-offset-sticky-desktop-top);
$header-border-color: #e6e8e8;
$header-border-radius-mobile: var(--header-border-radius-mobile);
$header-border-radius-desktop: var(--header-border-radius-desktop);
$header-border-radius-sticky-mobile: var(--header-border-radius-sticky-mobile);
$header-border-radius-sticky-desktop: var(
  --header-border-radius-sticky-desktop
);
$header-text-bg-color-hover: #e9f5fb;
$header-text-color-hover: $brand-color;

@mixin nav-styling {
  @include user-select(none);
  @include transition($global-transition);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  letter-spacing: 1px;
  font-family: inherit;
  line-height: $header-line-height-mobile;
  letter-spacing: $header-letter-spacing-mobile;
  text-transform: $header-font-case;
  font-size: $header-font-size-mobile;
  padding: rem-calc(5px) rem-calc(5px);
  margin: 0 rem-calc(6px);

  @include breakpoint(large up) {
    font-size: $header-font-size-desktop;
    line-height: $header-line-height-desktop;
    letter-spacing: $header-letter-spacing-desktop;
  }

  span {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include user-select(none);
    @include transition($global-transition);
  }

  svg {
    @include transition($global-transition);
  }
}

@mixin with-underline-hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: rem-calc(-5px);
    left: 0;
    width: 100%;
    height: $global-border-width;
    background-color: currentColor;
    @include transition($global-transition);
    @include transform(scaleX(0));
    @include transform-origin(left);
  }

  @include hover {
    &::after {
      @include transform(scaleX(1));
    }
  }
}

@mixin logo-left {
  grid-template-areas: "center left right";
  grid-template-columns: 1fr auto 1fr;

  .header__left-menu {
    justify-content: center;
  }
  .header__logo-wrapper {
    justify-content: flex-start;
  }
}
@mixin logo-left-contained {
  grid-template-areas: "center left right";
  grid-template-columns: auto 1fr 1fr;

  .header__left-menu {
    justify-content: flex-start;
  }
}
@mixin logo-left-contained-right {
  grid-template-areas: "center left right";
  grid-template-columns: auto 1fr auto;

  .header__left-menu {
    justify-content: flex-end;
  }
}
@mixin logo-center {
  grid-template-areas: "left center right";
  grid-template-columns: 1fr auto 1fr;
  .header__logo-wrapper {
    justify-content: center;
  }
}

@mixin logo-center-contained-left {
  grid-template-areas: "left center right";
  grid-template-columns: auto 1fr auto;
}

@mixin logo-center-contained-right {
  grid-template-areas: "left center right";
  grid-template-columns: auto 1fr auto;

  .header__center {
    justify-content: flex-end;
  }
}

// Header
header.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index: 100;
  // @include transition( $global-transition-slow );

  // @include enter-animation {
  //   @include transform( translateY( -100% ) );
  // }

  &--sticky {
    .header__inner {
      @include shadow(0 rem-calc(1px) rem-calc(4px) 0 rgba(0, 0, 0, 0.2));
    }
  }

  .header {
    &__inner {
      @include border-radius(rem-calc($header-border-radius-desktop));
      @include transition($header-animation);
      width: 100%;
      position: relative;
    }

    &__left,
    &__center,
    &__right {
      display: inline-flex;
      align-items: stretch;
    }

    &__left {
      grid-area: left;
      justify-content: flex-start;

      @include breakpoint(medium down) {
        width: rem-calc(63px);
        padding: 0 rem-calc(17px);
        background-color: var(--header-links);
        border-top-left-radius: $header-border-radius-desktop;
        border-bottom-left-radius: $header-border-radius-desktop;
      }

      @include breakpoint(large up) {
        padding: 0 0 0 0;
      }
    }

    &__center {
      grid-area: center;
      align-items: flex-start;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__right {
      grid-area: right;
      justify-content: flex-end;
      white-space: nowrap;
      margin-left: auto;
      width: rem-calc(63px);

      @include breakpoint(large up) {
        width: auto;
      }

      &-cta {
        position: relative;

        .button {
          min-height: rem-calc(42px);
          padding: rem-calc(12px) rem-calc(14px) rem-calc(12px) rem-calc(19px);

          @include breakpoint(medium down) {
            @include small;
            line-height: 1em;
            font-weight: 400;
            min-width: unset;
          }

          @include breakpoint(large up) {
            min-width: rem-calc(94px);
            padding: rem-calc(10px) rem-calc(25px);
          }
        }

        &-dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          background: #212121;
          gap: rem-calc(12px);
          border: solid $global-border-width rgba(#ffffff, 0.09);
          padding: rem-calc(11) rem-calc(7px);
          pointer-events: none;
          visibility: hidden;
          @include opacity(0);
          @include transition($global-transition);
          @include border-radius(rem-calc(13px));

          .button {
            width: 100%;
          }
        }

        @include hover {
          .header__right-cta-dropdown {
            pointer-events: unset;
            visibility: visible;
            @include opacity(1);
          }
        }
      }
    }

    &__wrapper {
      font-family: $header-font-family;
      font-weight: $header-font-weight;
      font-size: $header-font-size-mobile;
      line-height: $header-line-height-mobile;
      letter-spacing: $header-letter-spacing-mobile;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: $header-offset-mobile-top $header-offset-mobile;
      @include transition($header-animation);

      @include breakpoint(large up) {
        font-size: calc($header-font-size-desktop + 3px);
        line-height: calc($header-line-height-desktop + 3px);
        letter-spacing: $header-letter-spacing-desktop;
        padding: $header-offset-desktop-top $header-offset-desktop;
      }

      @mixin sticky-state {
        padding: $header-offset-sticky-mobile-top $header-offset-sticky-mobile;
        transform: translateY(var(--header-sticky-vertical-position));

        @include breakpoint(large up) {
          padding: $header-offset-sticky-desktop-top
            $header-offset-sticky-desktop;
        }

        .header__wrapper-inner {
          background: $header-bg-color-sticky;
          color: $header-text-color-sticky;
          height: $header-height-mobile-sticky;
          @include border-radius(var(--header-border-radius-sticky-mobile));

          @include breakpoint(large up) {
            height: $header-height-sticky;
            @include border-radius(var(--header-border-radius-sticky-desktop));
          }
        }
      }

      &--sticky {
        @include sticky-state;
      }

      &:has(.mobile-menu-trigger[aria-expanded="true"]) {
        @include sticky-state;

        .header__logo {
          @include opacity(0);
        }
      }

      &-inner {
        display: grid;
        grid-template: "left center right" 100%;
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
        background: $header-bg-color;
        color: $header-text-color;
        height: $header-height-mobile;
        padding: 0 rem-calc(16px);
        @include border-radius(var(--header-border-radius-mobile));
        @include transition($header-animation);
        @include drop-shadow(null, 4);

        @include breakpoint(large up) {
          padding: 0 rem-calc(25px);
          height: $header-height;
          gap: rem-calc(18px);
          @include border-radius(var(--header-border-radius-desktop));
        }

        &.logo-left {
          &--mobile {
            @include breakpoint(medium down) {
              @include logo-left;
            }
          }
          &--desktop {
            @include breakpoint(large up) {
              @include logo-left;
            }
          }
        }

        &.logo-left-contained {
          &--mobile {
            @include breakpoint(medium down) {
              @include logo-left-contained;
            }
          }
          &--desktop {
            @include breakpoint(large up) {
              @include logo-left-contained;
            }
          }
        }
        &.logo-left-contained-right {
          &--mobile {
            @include breakpoint(medium down) {
              @include logo-left-contained-right;
            }
          }
          &--desktop {
            @include breakpoint(large up) {
              @include logo-left-contained-right;
            }
          }
        }
        &.logo-center {
          &--mobile {
            @include breakpoint(medium down) {
              @include logo-center;
            }
          }
          &--desktop {
            @include breakpoint(large up) {
              @include logo-center;
            }
          }

          &-contained-left {
            &--mobile {
              @include breakpoint(medium down) {
                @include logo-center-contained-left;
              }
            }
          }

          &-contained-right {
            &--mobile {
              @include breakpoint(medium down) {
                @include logo-center-contained-right;
              }
            }
          }
        }
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 100%;
      position: relative;
      padding: rem-calc(9px) 0;
      @include transition($header-animation);

      @include breakpoint(large up) {
        padding: rem-calc(9px) 0;
      }

      img {
        @include transition($header-animation);
        width: auto;
        height: 100%;
        display: block;
        object-fit: contain;
      }

      &-icon {
        max-width: rem-calc(36px);
        margin-right: rem-calc(15px);
      }

      lottie-player {
        display: flex;
        justify-content: center;
        align-items: stretch;

        svg {
          width: auto !important;
          max-width: 100%;
        }
      }
    }

    &__cta {
      line-height: 1;
      color: $header-text-color;
      @include breakpoint(small only) {
        font-size: rem-calc(12px);
      }
    }

    &__account,
    &__contact {
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-left: rem-calc(10px);
      letter-spacing: inherit;
      font-family: inherit;
      line-height: inherit;
      padding: rem-calc(10px) 0;
      // @include nav-styling;
      // min-width: unset;
      display: none;
      width: rem-calc(22px);

      @include breakpoint(large up) {
        display: inline-flex;
        margin: 0;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    &__cart {
      cursor: pointer;

      &.has-icon {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: var(--header-border-radius-desktop);
        border-bottom-right-radius: var(--header-border-radius-desktop);

        @include breakpoint(large up) {
          width: rem-calc(72px);
        }

        .header__cart {
          &-inner {
            position: relative;
            padding: 0;
          }
        }

        &.cart {
          .header__cart-inner {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .cart {
            &__icon {
              height: 100%;
              display: block;
              color: $header-text-color;
            }

            &__number {
              position: absolute;
              margin-top: rem-calc(5px);
            }

            &__count {
              width: rem-calc(20px);
              height: rem-calc(20px);
              color: currentColor;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              font-weight: 400;
              font-size: rem-calc(15px);
              line-height: 1.8em;
              font-weight: 700;
              letter-spacing: rem-calc(0.29px);
              @include transition($header-animation);
              @include border-radius(50%);

              .header__wrapper--sticky & {
                border-color: transparent;
              }
            }
          }

          svg,
          img {
            pointer-events: none;
            width: unset;
            display: block;
            object-fit: contain;
            height: rem-calc(35px);
          }
        }
      }
      &:not(.has-icon) {
        padding: rem-calc(6px) 0;
        margin: 0 0 0 rem-calc(10px);
        height: 100%;
        min-width: rem-calc(73px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: stretch;

        @include breakpoint(large up) {
          min-width: rem-calc(98px);
        }

        .header__cart-inner {
          @include border-radius($button-border-radius);
          @include transition($header-animation);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: rem-calc(6px);
          border: rem-calc(1.5px) solid transparent;
          color: inherit;
          height: rem-calc(36px);
          width: 100%;
        }

        .cart {
          &__number {
            font-size: $header-font-size-mobile;
            line-height: rem-calc(24px);
            letter-spacing: rem-calc(-0.84px);
            margin: 0 0 0 rem-calc(6px);

            @include breakpoint(large up) {
              font-size: $header-font-size-desktop;
              line-height: rem-calc(38px);
            }
          }
          &__icon {
            font-size: $header-font-size-mobile;
            text-transform: $header-font-case;
            line-height: normal;
            letter-spacing: rem-calc(-0.36px);
            @include breakpoint(large up) {
              font-size: $header-font-size-desktop;
              line-height: $header-line-height-desktop;
              letter-spacing: $header-letter-spacing-desktop;
            }
          }
          &__count {
            display: block;
          }
        }

        @include hover {
          .cart__number {
            margin: 0;
          }
          .header__cart-inner {
            border: rem-calc(1.5px) solid currentColor;
          }
        }
      }
    }

    &__cart,
    &__account,
    &__search,
    &__contact {
      svg,
      img {
        display: block;
        @include transition($global-transition);
      }

      @include hover {
        svg,
        img {
          @include transform(scale(0.9));
        }
      }
    }
  }
}

/* Header Menu */
.header-menu {
  // height: 100%;
  display: flex;
  justify-content: flex-start;
  display: none;

  &.standard.left {
    @include breakpoint(large up) {
      display: flex;
    }
  }
  &.mobile.left {
    @include breakpoint(large up) {
      display: flex;
    }
  }
  &.both {
    @include breakpoint(large up) {
      display: flex;
    }
  }

  &.right {
    display: none;

    @include breakpoint(large up) {
      display: flex;
    }
  }

  &__items {
    @include clear-list;
    display: flex;
    height: 100%;
  }

  &__title {
    @include nav-styling;

    svg {
      position: relative;
      z-index: 2;
      display: inline-block;
      stroke: currentColor;
      stroke-width: rem-calc(3px);
      margin-left: rem-calc(6px);
      width: rem-calc(12px);
      height: rem-calc(10px);
      transform-origin: center;
    }

    &.button {
      min-height: auto;
    }

    &.menu--highlighted {
      color: $header-text-color;
      background: $header-text-bg-color-hover;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-right: rem-calc(10px);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid transparent;
      @include transition($global-transition);
    }

    @include hover {
      &::before {
        border-bottom: 2px solid $black;
        transition: 0.3s;
      }
    }

    &.mega-menu__trigger {
      .header-menu__submenu {
        width: calc(100vw - (var(--header-offset-desktop) * 2) - 10px);

        &-left {
          width: 30%;

          @include breakpoint(xlarge up) {
            width: 20%;
          }
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__submenu {
    position: absolute;
    top: 120%;
    left: rem-calc(-10px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border: 0;
    text-transform: $header-font-case;
    background: transparent;
    // @include transition($header-animation);
    transition: 0.2s;

    &::before {
      content: "";
      height: rem-calc(20px);
      top: rem-calc(-15px);
      position: absolute;
      width: 100%;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.414);
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      overflow: hidden;
      border-radius: rem-calc(15px);
      background: $white;
      @include drop-shadow(rgba(0, 0, 0, 0.57), null);
    }

    &-left {
      width: 100%;
      background-color: $color-accent-3;
      padding: rem-calc(34px);
      display: flex;
      flex-direction: column;
    }

    &-right {
      width: 80%;
      background-color: $color-accent-2;
      padding: rem-calc(34px) rem-calc(40px);
      border-left: rem-calc(2px) solid $black;
    }

    & ~ .header-menu__title {
      &::after {
        content: "";
      }
    }
  }

  .header-submenu {
    &__title {
      margin: 0;
      font-family: $font-heading-h1;
      font-size: rem-calc(36px);
      line-height: rem-calc(36px);
      margin-bottom: rem-calc(20px);
      text-transform: $header-font-case;
    }

    &__items {
      list-style: none;
      white-space: nowrap;

      li {
        margin: 0 0 rem-calc(5);
        transition: 0.1s;
        cursor: pointer;
        @include border-bottom-hover;
      }
    }

    &__products {
      list-style: none;

      &-title {
        font-size: rem-calc(36px);
        line-height: rem-calc(27px);
        display: flex;
        align-items: center;

        h2 {
          font-size: inherit;
          line-height: inherit;
          margin: 0;
        }

        button {
          margin-left: auto;
          padding: rem-calc(10px) rem-calc(15px);
          border-radius: rem-calc(10px);
          background-color: rgba(30, 30, 30, 1);
          color: $white;
          text-transform: uppercase;
          font-size: rem-calc(17px);
          line-height: rem-calc(17px);
          transition: 0.2s;

          @include hover {
            background-color: $white;
            color: rgba(30, 30, 30, 1);
          }
        }
      }

      &-list {
        display: flex;
        gap: rem-calc(20px);
        flex-wrap: wrap;
        list-style: none;
        margin: rem-calc(20px) rem-calc(-20px) 0 0;
      }
    }

    &__product {
      position: relative;
      background-color: $white;
      border-radius: rem-calc(15px);
      width: calc(100% / 3 - 20px);
      min-width: calc(100% / 3 - 20px);
      max-width: calc(100% / 3 - 20px);
      overflow: hidden;
      aspect-ratio: 298 / 275;
      flex: 1;
      @include drop-shadow(rgba(0, 0, 0, 0.219), null);

      @include breakpoint(xlarge up) {
        width: calc(100% / 4 - 20px);
        min-width: calc(100% / 4 - 20px);
        max-width: calc(100% / 4 - 20px);
      }

      @include hover {
        img {
          @include transform(scale(1.1));
          @include transition($global-transition);
        }
      }

      a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: rem-calc(20px);

        span {
          width: 80%;
        }

        img {
          width: 70%;
          margin-bottom: rem-calc(10px);
          @include transition($global-transition);
        }
      }
    }

    &__ctas {
      list-style: none;
      margin-top: auto;

      .button {
        width: 100%;
        max-width: 100%;
        min-width: unset;
        margin-top: rem-calc(10px);
      }
    }
  }
}

@import "./header__mobile-menu";

/* Header Search */
.header__search {
  height: 100%;
  display: none;
  align-items: stretch;
  justify-content: center;
  margin-left: rem-calc(23px);
  text-transform: uppercase;
  color: var(--header-text);

  @include breakpoint(large up) {
    display: flex;
    margin: 0;
    padding: rem-calc(6px) 0;
  }

  &-inner {
    @include breakpoint(large up) {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      @include border-radius(rem-calc(8px));
    }
  }

  predictive-search {
    max-width: rem-calc(750px);
  }

  details-modal {
    height: 100%;
    details {
      height: 100%;
      &[open] {
        > .search-modal {
          opacity: 1;
          animation: animateMenuOpen 0.4s $smooth_ease;

          @keyframes animateMenuOpen {
            0% {
              opacity: 0;
              transform: translateY(-1.5rem);
            }

            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        .modal-overlay {
          // display: block;
          display: none;
        }
        .modal-overlay::after {
          position: absolute;
          content: "";
          background-color: $color-overlay-alpha;
          top: 100%;
          left: 0;
          right: 0;
          height: 100vh;
        }
      }

      summary {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .search-modal {
    // opacity: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    color: $black;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem-calc(20px);

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      position: relative;

      predictive-search {
        form {
          border: 0;

          > button[type="submit"] {
            border: 0;
          }
        }

        .search__input {
          background-color: #d9edf6;
          border-radius: rem-calc(30px);
        }
      }

      .predictive-search {
        border-radius: rem-calc(20px);
        top: 125%;
        border: 0;
        @include drop-shadow(rgba(0, 0, 0, 0.202), 5);

        &__item {
          border: 0;
        }

        &__results-groups-wrapper {
          border: 0;
        }

        &__search-for-button {
          display: flex;
          justify-content: center;
          border: 0;

          .predictive-search__item {
            @include button;
            border: 0;
            background-color: $brand-color;
            color: $black;
          }
        }
      }
    }

    &__close-button {
      display: block;
      width: 1rem;

      svg {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

/** Project Specific **/
header.header {
  .header {
    &__wrapper {
      &-inner {
        padding: 0;

        @include breakpoint(large up) {
          padding-left: rem-calc(14px);
        }
      }
    }
    &__logo {
      padding: rem-calc(12px) 0;

      @include breakpoint(large up) {
        padding: rem-calc(12.55px) 0;
      }
    }
  }
}
